<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">
  <div class="app-logo">
    <img src="https://via.placeholder.com/100?text=Logo" />
  </div>
  <form class="signin-form">
    <ion-list lines="full" class="ion-no-margin ion-padding" mode="md">

      <ion-item class="ion-no-margin ion-no-padding">
        <ion-label position="stacked">Username</ion-label>
        <ion-input  placeholder="Enter Your Username"></ion-input>
      </ion-item>
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-label position="stacked">Password</ion-label>
        <ion-input class="input-password" type="{{showPassword === false ? 'password' : 'text' }}" placeholder="Enter Your Password"></ion-input>
        <ion-icon name="{{showPassword === false ? 'eye-off-outline' : 'eye-outline' }}" class="showPasswordIcon" (click)="togglePassword()"></ion-icon>
      </ion-item>
      </ion-list>

      <div class="ion-padding-horizontal signin-button ion-margin-top">
        <ion-button   expand="block" type="submit" mode="ios" class="ion-no-margin custom-primary-button" [routerLink]="['/tabs']">Sign In</ion-button>
        <p>Don't have an Account? <a  [routerLink]="['/authentication/signup']">Sign up</a></p>
      </div>
      </form>

</ion-content>
