.app-logo{
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0px auto 20px;
    border-radius: 20px;
    overflow: hidden;
}
.signup-form{
    ion-item{
        --inner-padding-end:0px;
        --border-width: 0;
        ion-label{
            font-size: 20px;
            margin-bottom: 8px;
            font-weight: 500;
            color:var(--color-dark);
        }
        ion-input{
            margin-top: 10px;
            --padding-start: 15px;
            --padding-end: 15px;
            border-radius: 5px;
            --padding-top:15px;
            --padding-bottom: 15px;
            box-shadow: 0px 0px 5px var(--color-light-3) inset;
            --background: var(--color-light-2);
            --placeholder-color	: var(--color-light-5);
            font-size: 14px;
            color:var(--color-dark);
            &.input-password{
                --padding-end: 35px;
            }
            &.has-focus{
                box-shadow: 0px 0px 5px var(--color-secondary) inset;
            }
        }
        .showPasswordIcon{
            position: absolute;
            bottom:12px;
            right: 10px;
            z-index: 111;
            cursor: pointer;
            font-size: 20px;
            color:var(--color-dark);
        }
    }
    .signin-button{

        p{
            text-align: center;
            color:var(--color-dark);
            a{
                color: var(--color-secondary)
            }
        }
    }
}