<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">
  <div class="app-logo">
    <img src="https://via.placeholder.com/100?text=Logo" />
  </div>
  <form class="signup-form">
    <ion-list lines="full" class="ion-no-margin ion-padding" mode="md">

      <ion-item class="ion-no-margin ion-no-padding">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input type="text" placeholder="Enter Your First Name"></ion-input>
      </ion-item>
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input type="text"  placeholder="Enter Your Last Name"></ion-input>
      </ion-item>
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" placeholder="Enter Your Email Address"></ion-input>
      </ion-item>
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-label position="stacked">Password</ion-label>
        <ion-input class="input-password" type="{{showPassword === false ? 'password' : 'text' }}" placeholder="Enter Your Password"></ion-input>
        <ion-icon name="{{showPassword === false ? 'eye-off-outline' : 'eye-outline' }}" class="showPasswordIcon" (click)="togglePassword()"></ion-icon>
      </ion-item>
      </ion-list>

      <div class="ion-padding-horizontal signin-button ion-margin-top">
        <ion-button   expand="block" type="submit" mode="ios" class="ion-no-margin custom-primary-button">Sign In</ion-button>
        <p>Already have an Account? <a  [routerLink]="['/authentication/signin']" routerDirection="back">Sign in</a></p>
      </div>
      </form>

</ion-content>
