<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title   mode="ios">
      Notification
    </ion-title>
    <div class="profile-image" [routerLink]="['/tabs/home/profile']">
      <img  src="https://via.placeholder.com/50x50?text=profile" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="notification-section ion-padding">
  <ion-list class="notification-list" lines="full" *ngFor="let notification of notificationData">
    <ion-item  class="notification-item">
      <ion-avatar slot="start">
        <img src="{{notification.imageUrl}}">
      </ion-avatar>
      <ion-label class="notification-label">
        <h2>{{notification.title}}</h2>
        <p class="ion-text-wrap">{{notification.description}}</p>
        <h3 class="notification-time">{{notification.time}}</h3>
      </ion-label>
    </ion-item>
    </ion-list>
</ion-content>
