ion-header {
    .profile-image{
        position: absolute;
        right: 10px;
        top: 8px;
        outline: none;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}
.notification-section{

    .notification-list{
        padding-top:0;
        .notification-item{
        --padding-start:0;
        --padding-end:0;
        --border-color: var(--color-light-2);
            ion-avatar{
                align-self: baseline;
            }
            .notification-label{
                h2{
                    font-weight: 500;
                    width: 200px;
                    color:var(--color-dark);
                }
                p{
                    color:var(--color-light-5);
                    margin-top: 10px;
                    font-weight: 400;

                }
                .notification-time{
                    position: absolute;
                    right: 0px;
                    top:12px;
                    font-size: 12px;
                    color:var(--color-primary);
                }
            }
        }
    }
}