
.profile-header{
    text-align: center;
    .profile-main-header{
        .profile-main-image{
            width: 100%;
            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50px;
            }
        }
        .profile-name{
            font-size: 16px;
            color: var(--color-primary);
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: 700;
            letter-spacing: 1px;
        }
        .profile-place{
            color: var(--color-light-4);
            font-weight: 400;
            font-size: 14px;
            margin-top: 0;
        }
    }
    .profile-sub-header{
        display: flex;
        flex-direction: row;
        width: 100%;
        .profile-sub-box{
            width: 33.33%;
            flex: 33.33%;
            .profile-sub-value{
                font-size: 20px;
                font-weight: 700;
                color: var(--color-dark);
            }
            .profile-sub-title{
                margin-top: 0;
                font-size: 12px;
                color: var(--color-light-4);
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }
    .back-button{
        position: absolute;
        top: 15px;
        left: 10px;
        width: 30px;
        height: 30px;
        text-align: left;
        color: var(--color-dark);
        font-weight: 900;
        font-size: 25px;
        z-index: 1111;
    }
    .settings-button{
        position: absolute;
        top: 15px;
        right: 10px;
        width: 30px;
        height: 30px;
        text-align: right;
        color: var(--color-dark);
        font-weight: 900;
        font-size: 25px;
        z-index: 1111;
    }
}
.statistics-section{

    .statistics-container{
        position: relative;
        padding: 10px 10px 0 10px;
        .statistics-heading{
            h2{
                font-size: 18px;
                color: var(--color-dark);
                font-weight: 700;
                text-align: center;
            }
        }
        .chart-wrapper{
            canvas{
                width:100% !important;
                height:320px !important;
            }
        }
    }
}

