<ion-header  class="ion-no-border">
  <ion-toolbar>
      <div class="profile-header">
        <div class="profile-main-header">
        <div class="profile-main-image">
          <img  src="https://via.placeholder.com/50x50?text=profile" />
        </div>
        <p class="profile-name">Amanda S</p>
        <p class="profile-place">San Francisco</p>
        </div>
        <div class="profile-sub-header">
          <div class="profile-sub-box">
            <h4 class="profile-sub-value">10</h4>
            <p class="profile-sub-title">Attended Quiz</p>
          </div>
          <div class="profile-sub-box">
            <h4 class="profile-sub-value">4hr</h4>
            <p class="profile-sub-title">Active Time</p>
          </div>
          <div class="profile-sub-box">
            <h4 class="profile-sub-value">5</h4>
            <p class="profile-sub-title">Quiz Completed</p>
          </div>
          </div>
          <a class="back-button" [routerLink]="['/tabs/home']" routerDirection="back"><ion-icon name="arrow-back-outline"></ion-icon></a>
          <a class="settings-button" [routerLink]="['/tabs/settings']" routerDirection="back"><ion-icon name="settings"></ion-icon></a>
      </div>

  </ion-toolbar>
</ion-header>

<ion-content class="statistics-section">


  <div class="statistics-container">
    <div class="statistics-heading">
      <h2>Stats</h2>
    </div>
    <div class="chart-wrapper">
        <canvas baseChart
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [chartType]="radarChartType">
      </canvas>
    </div>
    </div>
    

</ion-content>
