ion-header {
    .profile-image{
        position: absolute;
        right: 10px;
        top: 8px;
        outline: none;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}
.settings-section{

    .settings-list{
        padding-top:0;
        .settings-header{
            font-size: 18px;
            color: var(--color-dark);
            padding-left: 5px;
            // margin-bottom: 10px;
        }
        .settings-item{
            --padding-start:15px;
            --padding-end:0;
            border:2px solid var(--color-light-2);
            --border-width:0;
            border-radius: 10px;
            margin-bottom: 15px;
            .settings-icon{
                background-color: var(--color-primary);
                align-self: baseline;
                margin-top: 8px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                line-height: 50px;
                text-align: center;
                margin-right: 15px;
                ion-icon{
                    font-size: 25px;
                    padding-top: 12px;
                    color: var(--color-light);
                }

            }
            .settings-label{
                h2{
                    color: var(--color-dark);
                }
                p{
                    color: var(--color-light-4);
                }
            }
            .settings-toggle{
                --background-checked: var(--color-success-light);
                --handle-background-checked: var(--color-success);
            }
            .settings-right-icon{
                color: var(--color-dark);
            }
        }
    }
}