<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-title   mode="ios">
      Settings
    </ion-title>
    <div class="profile-image" [routerLink]="['/tabs/home/profile']">
      <img  src="https://via.placeholder.com/50x50?text=profile" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-section ion-padding">
  <!-- Account settings -->
  <ion-list lines="full" class="settings-list">
    <ion-list-header class="settings-header">
      Account
    </ion-list-header>

    <ion-item class="settings-item">
      <div class="settings-icon" slot="start">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <ion-label class="settings-label">
        <h2>Update Email Address</h2>
        <p class="ion-text-wrap">abc@email.com</p>
      </ion-label>
      <ion-icon class="settings-right-icon" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="settings-item">
      <div class="settings-icon" slot="start">
        <ion-icon name="key-outline"></ion-icon>
      </div>
      <ion-label class="settings-label">
        <h2>Change Password</h2>
        <p class="ion-text-wrap">Last Changed 2 weeks ago</p>
      </ion-label>
      <ion-icon class="settings-right-icon" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- other settings -->
  <ion-list lines="full" class="settings-list">
    <ion-list-header class="settings-header">
      Others
    </ion-list-header>

    <ion-item class="settings-item">
      <div class="settings-icon" slot="start">
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
      <ion-label class="settings-label">
        <h2>Push Notifications</h2>
        <p class="ion-text-wrap">For messages, Badges, etc</p>
      </ion-label>
      <ion-toggle class="settings-toggle" slot="end"></ion-toggle>
    </ion-item>
    <ion-item class="settings-item">
      <div class="settings-icon" slot="start">
        <ion-icon name="log-out-outline"></ion-icon>
      </div>
      <ion-label class="settings-label">
        <h2>Logout</h2>
        <p class="ion-text-wrap">For signout and quit the app safety</p>
      </ion-label>
      <ion-icon class="settings-right-icon" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
