.main-tab{
    ion-tab-bar{
        height: 70px;

        ion-tab-button{
            --color-focused: var(--color-primary);
            --color-selected: var(--color-primary);
            &.tab-selected{
                ion-icon{
                color: var(--color-primary);
                }
            }
            ion-icon{
                color: var(--color-light-3);
            }
            &:hover{
                ion-icon{
                color: var(--color-primary);
                }
            }
        }
    }

}
.hiddenTab{
    display: none;
}