<ion-tabs class="main-tab" mode="md">

  <ion-tab-bar slot="bottom" [ngClass]="{'hiddenTab': hideTab}">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="help-circle"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
