ion-header {
    .profile-image{
        position: absolute;
        right: 10px;
        top: 8px;
        outline: none;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}
.help-section{
    .help-header{
        text-align: center;
        margin-bottom: 30px;
            img{
            width: 100px;
            height: 100px;
        }
        h2{
            font-size: 20px;
            color: var(--color-dark);
        }
    }
    .help-list{
        padding-top:0;

        .help-item{
            --padding-start:15px;
            --padding-end:0;
            border:2px solid var(--color-light-2);
            --border-width:0;
            border-radius: 10px;
            margin-bottom: 15px;
            .help-icon{
                background-color: var(--color-primary);
                align-self: baseline;
                margin-top: 8px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                line-height: 50px;
                text-align: center;
                margin-right: 15px;
                ion-icon{
                    font-size: 25px;
                    padding-top: 12px;
                    color: var(--color-light);
                }

            }
            .help-label{
                h2{
                    color: var(--color-dark);
                }
                p{
                    color: var(--color-light-4);
                }
            }
            .help-right-icon{
                color: var(--color-dark);
            }
        }
    }
}