<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Help
    </ion-title>
    <div class="profile-image" [routerLink]="['/tabs/home/profile']">
      <img  src="https://via.placeholder.com/50x50?text=profile" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="help-section ion-padding">
  <div class="help-header">
    <img src="assets/support.svg" />
    <h2>Need Some Support?</h2>
  </div>
  <ion-list lines="full" class="help-list">

    <ion-item class="help-item">
      <div class="help-icon" slot="start">
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <ion-label class="help-label">
        <h2>Account</h2>
        <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-label>
      <ion-icon class="help-right-icon" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="help-item">
      <div class="help-icon" slot="start">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </div>
      <ion-label class="help-label">
        <h2>General Help</h2>
        <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </ion-label>
      <ion-icon class="help-right-icon" name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
