<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
      </ion-buttons>
    <ion-title  mode="ios">
      Quiz
      <p>Javascript</p>
    </ion-title>
    <div class="profile-image">
      <img  src="https://via.placeholder.com/50x50?text=profile" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="quiz-section">
  <div class="slides-container">
    <div class="slider-pagination">

    </div>
    <ion-slides #slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-list lines="full" class="quiz-list">
          <ion-radio-group value="value1">
            <ion-list-header class="quiz-header">
              <ion-label>Which Of The Following is True About Node JS ?</ion-label>
            </ion-list-header>
        
            <ion-item class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>A</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value1"></ion-radio>
            </ion-item>
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>B</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value2"></ion-radio>
            </ion-item>
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>C</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value3"></ion-radio>
            </ion-item>
            </ion-radio-group>
          </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list lines="full" class="quiz-list">
          <ion-radio-group value="value1">
            <ion-list-header class="quiz-header">
              <ion-label>Which Of The Following is True About Node JS ?</ion-label>
            </ion-list-header>
        
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>A</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value1"></ion-radio>
            </ion-item>
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>B</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value2"></ion-radio>
            </ion-item>
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>C</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value3"></ion-radio>
            </ion-item>
            </ion-radio-group>
          </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list lines="full" class="quiz-list">
          <ion-radio-group value="value1">
            <ion-list-header class="quiz-header">
              <ion-label>Which Of The Following is True About Node JS ?</ion-label>
            </ion-list-header>
        
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>A</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value1"></ion-radio>
            </ion-item>
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>B</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value2"></ion-radio>
            </ion-item>
            <ion-item  class="quiz-item">
              <div class="quiz-item-icon" slot="start">
                <h2>C</h2>
              </div>
              <ion-label class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-label>
              <ion-radio slot="start" value="value3"></ion-radio>
            </ion-item>
            </ion-radio-group>
          </ion-list>
      </ion-slide>
      </ion-slides>
    </div>
    

</ion-content>
<ion-footer class="ion-no-border" mode="md">

  <ion-toolbar>
      <ion-button  expand="full"  shape="round" class="custom-secondary-button" (click)="confirmSlide()" *ngIf="hideNavigationConfirmButton">Next</ion-button>
      <ion-button  expand="full"  shape="round" class="custom-secondary-button" (click)="nextSlide()" *ngIf="hideNavigationNextButton">Next</ion-button>

  </ion-toolbar>
</ion-footer>
