ion-header {
    ion-title{
        p{
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 0;
            font-weight: 400;
        }
    }
    .profile-image{
        position: absolute;
        right: 10px;
        top: 8px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}
.quiz-section{
    .slides-container{
        position: relative;
        padding: 10px 10px 0 10px;
        .slider-pagination{
            width: 100%;
            text-align: center;
            .swiper-pagination-bullet{
               width: 30px;
               height: 30px;
               font-size: 18px;
               line-height: 30px;
               color: var(--color-dark);
               opacity: 1;
               margin: 8px 10px;
               &.swiper-pagination-bullet-active{
                   color: var(--color-light);
                   border-radius: 50px;
                   background-color: var(--color-success);
                   box-shadow: 1px 1px 10px -2px var(--color-success);
               }

            }
        }
        ion-slides{
            ion-slide {
                border: 2px solid var(--color-3);
                display: block;
                border-radius: 5px;
                height: 100%;
                .quiz-list{
                    padding: 15px;
    
                    .quiz-header{
                        font-size: 25px;
                        text-align: left;
                        color: var(--color-dark);
                        font-weight: 700;
                        margin-bottom: 20px;
                        padding-left: 0;
                    }
                    .quiz-item{
                        --border-width:0;
                        margin-top: 10px;
                        border:2px solid var(--color-dark);
                        border-radius: 10px;
                        --ripple-color: var(--color-transparent);
                        &.item-radio-checked{
                            --background: var(--color-primary);
                            border:2px solid var(--color-primary);
                            --color: var(--color-light);
                        }
                        ion-radio{
                            --color: var(--color-transparent);
                            --color-checked: var(--color-transparent);
                        }
                        .quiz-item-icon{
                            margin-inline-end:0;
                            h2{
                                font-size: 40px;
                                line-height: 40px;
                                margin-top: 12px;
                                position: absolute;
                                left: 20px;
                                top:0px

                            }
                        }
                    }
                }
            }
        }
    }
}

ion-button{
    font-size: 20px;
    margin: 0 50px 10px 50px;
}