<ion-header  class="ion-no-border">
  <ion-toolbar>
      <div class="result-header">
        <div class="main-header">
        <div class="winner-image">
          <img  src="https://via.placeholder.com/50x50?text=profile">
        </div>
        <h4 class="score-text">7</h4>
        <p class="winner-name">Amanda S</p>
        </div>
        <div class="sub-header">
          <div class="sub-box">
            <h4 class="sub-value">10</h4>
            <p class="sub-title">Questions</p>
          </div>
          <div class="sub-box">
            <h4 class="sub-value">70%</h4>
            <p class="sub-title">Correct</p>
          </div>
          <div class="sub-box">
            <h4 class="sub-value">9m</h4>
            <p class="sub-title">Time</p>
          </div>
          </div>
          <ion-button  expand="full" shape="round"  class="custom-secondary-button">Share Results</ion-button>
          <a class="home-button" [routerLink]="['/tabs/home']" routerDirection="back"><ion-icon name="home-outline"></ion-icon><span>Home</span></a>
          <a class="retry-button" [routerLink]="['/tabs/home/quiz']" routerDirection="back"><ion-icon name="reload-outline"></ion-icon><span>Retry</span></a>
      </div>

  </ion-toolbar>
</ion-header>

<ion-content class="result-section">


  <div class="slides-container">
    <div class="slide-heading">
      <h2>Time to answer</h2>
    </div>
    <ion-slides #slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-list lines="none" class="result-list">
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 1
            </ion-label>
            <ion-progress-bar class="result-progress-bar correct" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">33 secs</ion-note>
          </ion-item>
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 2
            </ion-label>
            <ion-progress-bar class="result-progress-bar incorrect" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">60 secs</ion-note>
            
          </ion-item>
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 3
            </ion-label>
            <ion-progress-bar class="result-progress-bar correct" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">120 secs</ion-note>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list lines="none" class="result-list">
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 1
            </ion-label>
            <ion-progress-bar class="result-progress-bar correct" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">33 secs</ion-note>
          </ion-item>
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 2
            </ion-label>
            <ion-progress-bar class="result-progress-bar incorrect" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">60 secs</ion-note>
            
          </ion-item>
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 3
            </ion-label>
            <ion-progress-bar class="result-progress-bar correct" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">120 secs</ion-note>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list lines="none" class="result-list">
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 1
            </ion-label>
            <ion-progress-bar class="result-progress-bar correct" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">33 secs</ion-note>
          </ion-item>
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 2
            </ion-label>
            <ion-progress-bar class="result-progress-bar incorrect" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">60 secs</ion-note>
            
          </ion-item>
          <ion-item class="result-item">
            <ion-label class="result-label">
              Question 3
            </ion-label>
            <ion-progress-bar class="result-progress-bar correct" value="1"></ion-progress-bar>
            <ion-note class="result-progress-text" slot="end">120 secs</ion-note>
          </ion-item>
        </ion-list>
      </ion-slide>
      </ion-slides>
    </div>
    

</ion-content>
<ion-footer class="ion-no-border result-footer-section" mode="md">

  <ion-toolbar>
      <div class="result-legend">
        <div class="result-legend-box">
          <ion-progress-bar class="result-legend-progress-bar correct" value="1"></ion-progress-bar>
          <p class="result-legend-label">Correct</p>
        </div>
        <div class="result-legend-box">
          <ion-progress-bar class="result-legend-progress-bar incorrect" value="1"></ion-progress-bar>
          <p class="result-legend-label">Incorrect</p>
        </div>
      </div>

  </ion-toolbar>
</ion-footer>
