
.result-header{
    text-align: center;
    .main-header{
        .winner-image{
            width: 100%;
            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50px;
            }
        }
        .score-text{
            color: var(--color-dark);
            font-weight: 500;
            font-size: 20px;
            margin-top: 5px;
        }
        .winner-name{
            font-size: 16px;
            color: var(--color-primary);
            margin-top: 0;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
    .sub-header{
        display: flex;
        flex-direction: row;
        width: 100%;
        .sub-box{
            width: 33.33%;
            flex: 33.33%;
            .sub-value{
                font-size: 20px;
                font-weight: 700;
                color: var(--color-dark);
            }
            .sub-title{
                margin-top: 0;
                font-size: 12px;
                color: var(--color-light-4);
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }
    ion-button{
        &.custom-secondary-button{
        padding: 0 50px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        }
    }
    .home-button{
        position: absolute;
        top: 15px;
        left: 10px;
        width: 50px;
        height: 50px;
        color: var(--color-primary);
        font-weight: 900;
        font-size: 20px;
        z-index: 1111;
        span{
            position: absolute;
            font-size: 12px;
            top:30px;
            right: 0;
            left: 0;
            color: var(--color-dark);
        }
    }
    .retry-button{
        position: absolute;
        top: 15px;
        right: 10px;
        width: 50px;
        height: 50px;
        color: var(--color-primary);
        font-weight: 900;
        font-size: 20px;
        z-index: 1111;
        span{
            position: absolute;
            font-size: 12px;
            top:30px;
            right: 0;
            left: 0;
            color: var(--color-dark);

        }
    }
}
.result-section{

    .slides-container{
        position: relative;
        padding: 10px 10px 0 10px;
        .slide-heading{
            h2{
                font-size: 18px;
                color: var(--color-dark);
                font-weight: 700;
                text-align: center;
                margin-top: 5px;
            }
        }
        ion-slides{
            ion-slide {
                border: 2px solid var(--color-3);
                display: block;
                border-radius: 5px;
                height: 100%;
                .result-list{
                    padding: 15px 0;
                    .result-item{
                        --inner-padding-end:0;
                        --padding-start:5px;
                        --padding-end:10px;
                        position: relative;
                        margin-bottom: 10px;
                        .result-label{
                            position: absolute;
                            margin-top: 0;
                            font-size: 14px;
                            top: 0;
                            color: var(--color-light-4);
                        }
                        .result-progress-bar{
                            margin-top: 5px;
                            border-radius: 25px;
                            height: 10px;
                            
                            &.correct{
                                --progress-background: var(--color-success);
                            }
                            &.incorrect{
                                --progress-background: var(--color-primary);
                            }
                        }
                        .result-progress-text{
                            margin-left: 0px;
                            padding-left: 10px;
                            font-size: 12px;
                            color: var(--color-dark);
                            font-weight: 500;
                        }
                    }

                }
            }
        }
    }
}

.result-footer-section{
    .result-legend{
        display: flex;
        width: 100%;
        .result-legend-box{
            width: 50%;
            flex: 50%;
            padding: 0px 20px;
            .result-legend-progress-bar{
                border-radius: 25px;
                height: 10px;
                width: 80px;
                margin: 0 auto;
                &.correct{
                    --progress-background: var(--color-success);
                }
                &.incorrect{
                    --progress-background: var(--color-primary);
                }
            }
            .result-legend-label{
                font-size: 12px;
                font-weight: 700;
                color: var(--color-dark);
                text-align: center;
            }
        }
    }
}
