ion-header {
    .profile-image{
        position: absolute;
        right: 10px;
        top: 8px;
        outline: none;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}
.home-section{
    .slides-container{
        position: relative;
        ion-slides{
            ion-slide {
                border: 2px solid var(--color-3);
                display: block;
                border-radius: 5px;
            }
        }
    }
    .quiz-section{
        display: flex;
        flex-direction: row;
        max-width: 100%;
        padding: 10px 8px 0 8px;
        .quiz-box{
            max-width: 25%;
            flex: 25%;
            text-align: center;
            padding: 8px;
            outline: none;
         
            img{
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 5px;
            }
            h4{
                font-size: 12px;
                margin-top: 7px;
                margin-bottom: 0;
                color: var(--color-dark);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        }
    }
    .quiz-recent-section{
        padding: 10px;
        .quiz-recent-list{
            padding-top:0;
            .quiz-recent-header{
                font-size: 20px;
                color: var(--color-dark);
                padding-left: 5px;
                font-weight: 700;
                position: relative;
                margin-bottom: 10px;
                .header-right{
                    position: absolute;
                    right: 10px;
                    top:0px;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--color-primary);
                }
            }
            .quiz-recent-item{
                --inner-padding-end:0;
                --padding-start:5px;
                --padding-end:0;
                border-bottom:1px solid var(--color-light-2);
                --border-width:0;
                border-radius: 10px;
                margin-bottom: 15px;
                .quiz-recent-img{
                    align-self: baseline;
                    margin-top: 8px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    line-height: 50px;
                    text-align: center;
                    margin-right: 15px;
                    img{
                        border-radius: 5px;
                    }
    
                }
                .quiz-recent-label{
                    margin-top:8px;
                    h2{
                        font-size: 14px;
                        color: var(--color-dark);
                        margin-bottom: 10px;
                        font-weight: 600;
                    }
                    p{
                        color: var(--color-light-4);
                        position: relative;
                        width: 100%;
                        height: 20px;
                        font-size: 12px;
                        .label-left{
                            position: absolute;
                            left: 0;
                        }
                        .label-right{
                            position: absolute;
                            right: 5px;
                            color: var(--color-dark);
                            .score-label{
                                padding-right: 10px;
                            }
                            .score-total{
                                color: var(--color-light-4);
                            }
                        }
                    }
                }
                .quiz-recent-progress-bar{
                    margin-inline-start:25px;
                    display: block;
                    line-height: 0;
                }
            }
        }
    }
}