<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      </ion-buttons>
    <ion-title  mode="ios">
      Home
    </ion-title>
    <div class="profile-image" [routerLink]="['/tabs/home/profile']">
      <img  src="https://via.placeholder.com/50x50?text=profile" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="home-section">
  <div class="slides-container ion-padding-top">
    <ion-slides #slides pager="true" [options]="slideOpts">
      <ion-slide>
          <img src="https://via.placeholder.com/500x300?text=slider"/>
      </ion-slide>
      <ion-slide>
        <img src="https://via.placeholder.com/500x300?text=slider"/>       
      </ion-slide>
      <ion-slide>
        <img src="https://via.placeholder.com/500x300?text=slider"/>  
      </ion-slide>
      </ion-slides>
    </div>
    <div class="quiz-section">
      <div class="quiz-box"  [routerLink]="['/tabs/home/quiz']">
        <img src="https://via.placeholder.com/200x200?text=js" />
        <h4>Javascript</h4>
      </div>
      <div class="quiz-box">
        <img src="https://via.placeholder.com/200x200?text=HTML" />
        <h4>HTML</h4>
      </div>
      <div class="quiz-box">
        <img src="https://via.placeholder.com/200x200?text=CSS" />
        <h4>CSS</h4>
      </div>
      <div class="quiz-box">
        <img src="https://via.placeholder.com/200x200?text=Angular" />
        <h4>Angular</h4>
      </div>
    </div>
    <div class="quiz-recent-section">
      <ion-list lines="full" class="quiz-recent-list">
        <ion-list-header class="quiz-recent-header">
          Recent Quiz
          <p class="header-right">Details</p>
        </ion-list-header>
    
        <ion-item class="quiz-recent-item">
          <div class="quiz-recent-img" slot="start">
            <img src="https://via.placeholder.com/200x200?text=Angular" />
          </div>
          <ion-label class="quiz-recent-label">
            <h2>Beginner - CSS Animated</h2>
            <p class="ion-text-wrap"><span class="label-left">15 December</span><span class="label-right"><span class="score-label">Part</span>70<span class="score-total">/90</span></span></p>
          </ion-label>
          <div slot="end" class="quiz-recent-progress-bar">
            <circle-progress [percent]="85" [radius]="22"
            [titleFontSize]="14" 
            [outerStrokeWidth]="16"
            [showSubtitle]="false" 
            [innerStrokeWidth]="0"
            [outerStrokeWidth]="5" 
            [outerStrokeColor]="'#ff004e'"
            [animation]="true"
            [animationDuration]="300">
            </circle-progress>
          </div>
        </ion-item>
        <ion-item class="quiz-recent-item">
          <div class="quiz-recent-img" slot="start">
            <img src="https://via.placeholder.com/200x200?text=Angular" />
          </div>
          <ion-label class="quiz-recent-label">
            <h2>Beginner - CSS Animated</h2>
            <p class="ion-text-wrap"><span class="label-left">15 December</span><span class="label-right"><span class="score-label">Part</span>60<span class="score-total">/90</span></span></p>
          </ion-label>
          <div slot="end" class="quiz-recent-progress-bar">
            <circle-progress [percent]="65" [radius]="22"
            [titleFontSize]="12" 
            [outerStrokeWidth]="16"
            [showSubtitle]="false" 
            [innerStrokeWidth]="0"
            [outerStrokeWidth]="5" 
            [outerStrokeColor]="'#ff004e'"
            [animation]="true"
            [animationDuration]="300">
            </circle-progress>
          </div>
        </ion-item>
      </ion-list>
    </div>

</ion-content>
