/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

  /** Bold */
  @font-face {
    font-family: "SF Text";
    font-weight: 700;
    src: url("assets/font/SF-UI-Text-Bold.otf");
  }
  
  /** Bold Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 700;
    font-style: italic;
    src: url("assets/font/SF-UI-Text-BoldItalic.otf");
  }
  
  /** Heavy */
  @font-face {
    font-family: "SF Text";
    font-weight: 800;
    src: url("assets/font/SF-UI-Text-Heavy.otf");
  }
  
  /** Heavy Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 800;
    font-style: italic;
    src: url("assets/font/SF-UI-Text-HeavyItalic.otf");
  }
  
  /** Light */
  @font-face {
    font-family: "SF Text";
    font-weight: 200;
    src: url("assets/font/SF-UI-Text-Light.otf");
  }
  
  /** Light Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 200;
    font-style: italic;
    src: url("assets/font/SF-UI-Text-LightItalic.otf");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Text";
    font-weight: 500;
    src: url("assets/font/SF-UI-Text-Medium.otf");
  }
  
  /** Medium Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 500;
    font-style: italic;
    src: url("assets/font/SF-UI-Text-MediumItalic.otf");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Text";
    font-weight: 400;
    src: url("assets/font/SF-UI-Text-Regular.otf");
  }
  
  /** Regular Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 400;
    font-style: italic;
    src: url("assets/font/SF-UI-Text-RegularItalic.otf");
  }
  
  /** Semibold */
  @font-face {
    font-family: "SF Text";
    font-weight: 600;
    src: url("assets/font/SF-UI-Text-Semibold.otf");
  }
  
  /** Semibold Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 600;
    font-style: italic;
    src: url("assets/font/SF-UI-Text-SemiboldItalic.otf");
  }
  
  /** Ultrathin */
  @font-face {
    font-family: "SF Text";
    font-weight: 100;
    src: url("assets/font/SF-UI-Text-Ultrathin.otf");
  }
  
  /** Ultrathin Italic */
  @font-face {
    font-family: "SF Text";
    font-weight: 100;
    font-style: italic;
    src: url("assets/font/SF-UI-Text-UltrathinItalic.otf");
  }
  
:root{
    --color-primary: #ff004e;
    --color-primary-light: #fa5385;
    --color-secondary: #3e8afa;
    --color-secondary-light: #16c9ff;
    --color-warning: #fed813;
    --color-success: #19ecc1;
    --color-success-light: #9df0df;
    --color-linear-gradient: linear-gradient(right, #56fe99, #3ec8e7);
    --color-light: #fff;
    --color-light-2: #f0f0f0;
    --color-light-3: #d0d0d0;
    --color-light-4: #aeb5bb;
    --color-light-5: #8e8e8e;
    --color-dark:#272652;
    --color-transparent: transparent;
    --ion-font-family:  'SF Text';
}
ion-title{
  font-weight: 700;
  color: var(--color-dark);
}
ion-button{
    &.custom-primary-button{
    --background: var(--color-primary);
    --background-hover: var(--color-primary);
    --background-activated: var(--color-primary);
    --border-radius: 5px;
    color: var(--color-light);
    text-transform: capitalize;
    letter-spacing: 1px;
    height: 50px;
    font-weight: 300;
    }
    &.custom-secondary-button{
      --background: var(--color-secondary);
      --background-hover: var(--color-secondary);
      --background-activated: var(--color-secondary);
      --border-radius: 5px;
      color: var(--color-light);
      text-transform: capitalize;
      letter-spacing: 1px;
      height: 50px;
      font-weight: 300;
      }
}
ion-back-button{
    color: var(--color-dark)
}
ion-item{
  --highlight-color-focused: unset;
  &.item-has-focus{
    .label-stacked.sc-ion-label-md-h{
      color: var(--color-secondary);
    }
  }
}